@import "tailwindcss";

:root{
  --color-right: oklch(62.7% 0.265 303.9);
  --color-left: oklch(65.6% 0.241 354.308);
  --color-text: oklch(10.2% 0.000 0.000);
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}